<!-- <header class="mb-8">
  <div class="navbar bg-base-100">
    <div class="navbar-start"></div>
    <div class="navbar-center"></div>
    <div class="navbar-end"></div>
  </div>
</header> -->

<main
  class="min-h-screen flex flex-col items-center justify-center sm:grid sm:place-content-center relative overflow-hidden"
>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div
    class="transition-all ease-linear duration-500 grid place-self-center transform-gpu absolute inset-0 -top-16 bg-gradient-to-b -z-10"
    [attr.style]="gradientStyle()"
    [ngClass]="{
      'w-32 h-32 rounded sm:rounded-[100%] scale-100': !isDoingTask(),
      'w-screen h-screen rounded-[0%] scale-[4]': isDoingTask()
    }"
  ></div>

  @if(!isDoingTask()) {
  <div class="container px-4 mx-auto grid gap-12">
    <h1 class="text-4xl font-bold text-center">مهمة واحدة في وقت واحد!</h1>
    <form
      class="flex flex-col gap-4 w-full"
      [formGroup]="form"
      (ngSubmit)="addTask()"
    >
      <input
        type="text"
        class="input input-lg w-full focus-within:outline-transparent"
        placeholder="أدخل مهمتك"
        formControlName="task"
      />
      <button class="btn btn-primary" [disabled]="form.invalid">إبدأ</button>
    </form>
  </div>
  } @else {

  <div class="container mx-auto px-4 min-h-screen flex flex-col justify-center">
    <div class="mb-8 grid place-content-start">
      <p class="text-3xl font-black rounded">
        {{ formatTime(timer()) }}
      </p>
      <h1 class="text-5xl font-bold leading-tight">{{ task.value }}</h1>
    </div>
    <button class="btn btn-primary btn-block" (click)="stopTask()">
      إنجاز
    </button>
  </div>
  }
</main>
